###############################################################################
# Build Output
###############################################################################

Build/

###############################################################################
# Object Files
###############################################################################

*.o
*.d

###############################################################################
# Executables
###############################################################################

*.elf
*.bin
*.hex
*.map

###############################################################################
# Temporary Files
###############################################################################

*.swp
*.bak
*~

###############################################################################
# VS Code
###############################################################################

.vscode/

###############################################################################
# CLion
###############################################################################

.idea/

###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# Windows
###############################################################################

Thumbs.db
Desktop.ini
